span{
    font-weight: bold;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    text-align: center;
    background-color: lightgray;
    text-transform: uppercase;
    font-size: 35;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700px;
    color:#005677;
    font-style: normal;
}
h2{
    background-color: #C4C4C4;    ;
    text-transform: uppercase;
    font-size: 20;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700px;
    color:#005677;
    font-style: normal;
}
body{
    font-family: 'Times New Roman', Times, serif;  
    font-size: 15;
}
.saltoLinea{
    display: inline-block;
    margin-left: 80px;
}
footer{
    color: white;
    background-color: #005677;
    text-align: center;
}
